
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Kanit", sans-serif;
    color-scheme: dark;
}

.video-element {
    opacity: 0;
    animation: fadeIn 0.5s ease 2.4s forwards;
  }
  
  .text-container {
    perspective: 1000px; /* Add perspective for 3D rotation */
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  body {
    background: linear-gradient(
      to bottom,                      /* Direction of the gradient */
      rgba(56, 52, 73, 0.615) 0%,      /* Solid white at the top */
      rgba(27, 15, 82, 0) 120px    /* Fully transparent after 200px */
    );
    background-repeat: no-repeat;
  }